.grid{
    display:grid;
}

.g-h{
    grid-area: head;
}
.g-n{
    grid-area: nav;
}

.g-navbar{
    grid-column: 3;
    grid-template-areas: "head head nav";
}

.g-pre{
    grid-area: press;
}

.g-pic{
    grid-area: picture;
}

.g-2obj{
    grid-column: 3;
    grid-template-areas: "press press picture"; 
    gap:0rem 2.4rem;
}

.g-3{
    grid-template-columns: auto auto auto;
    gap: 2.4rem;
}