.nav-b{
    width: 64px;
    height: 32px;
    margin: auto;
    padding: 0rem;
    border-radius: 1rem 0rem;
    color: rgba($color: #28282B, $alpha: 1);
    font-size: 1.6rem;
}

.nav-b:hover{
    color: rgba($color: #EDEDF2, $alpha: 0.75)
}