/* Layout for img and videos:*/

img{
    margin: auto;
    padding-top: 2.4rem;
}

.p-pic{
    margin: 2rem;
    padding-top: 0rem;
    border-radius: 1rem 0rem;
}

video{
    width: 280px;
    margin: auto;
    padding-top: 1rem;

}