section{
    margin: 2.4rem 0rem;
    padding: 2rem;
    border-radius: 2rem 0rem;
}

.scr-mar{
    scroll-margin-top: 12rem;
}

@media screen and (max-width: 760px){
    .scr-mar{
        scroll-margin-top: 22rem;
    }
}