.width{
    width: 1128px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.flex-r{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
.presenter{
    padding:0rem;
}

.content {
    width: 280px;
    height: 316px;
    margin-bottom: 2rem;
    align-items: center;
    align-content: center;
}

.pic {
    width: 320px;
    height: 437px;
}

.corner-1-3{
    padding: 2rem;
    border-radius: 2rem 0rem;
}
.j-c{
    justify-content: center;
}

.fixed{
    position: fixed;
}

 @media screen and (max-width: 1130px) and (min-width: 761px){
    .width{
        width: 776px;
    }
 }
 @media screen and (max-width: 760px){
    .width{
        width: 360px;
    }
 }

