.width{
    width: 1128px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.presenter{
    padding:0rem;
}

.content {
    width: 280px;
    height: 316px;
    margin-bottom: 2rem;
    align-items: center;
    align-content: center;
}

.pic {
    width: 320px;
    height: 437px;
}

.corner-1-3{
    padding: 2rem;
    border-radius: 2rem 0rem;
}
.j-c{
    justify-content: center;
}