//Font Varibles
//fontfamily:

$fontFamilyMain: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontFamilySecond: 'Times New Roman', Times, serif;
$fontFamilyThird: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//fontSize:

$fontSizeMain: 20px;
$fontSizeSecond: 16px;
$fontSizeThird: 14px;
$fontSizeForth: 12px;