//Font Varibles
//fontfamily:

$fontMain: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontSecond: 'Times New Roman', Times, serif;
$fontThird: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
