html{
    font-size:62.5%
}
body{
    background-image: url('../Pictures/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    color: white;
    background-color: #28282B;
    text-align: left;
}

main{
    margin-top: 14rem;
}

@media screen and (max-width: 760px){
    main{
        margin-top: 22rem;
    }
}